html {
	font-size: 10px;
	
}

body {
	box-sizing: border-box;
	background: url('./../images/photo-1588345921523-c2dcdb7f1dcd.jfif') no-repeat center center fixed;
	background-size: cover;
}

h2, h3, h4, h5, h6 {
	font-family: ivypresto-text, serif;
}

.yellow {
	background-color: $yellow;
}

.orange {
	background-color: $orange;
}

.gray {
	background-color: $gray;
}

.beige {
	background-color: #fdfdc9;
}

.black {
	background-color: $black;
}

.price {
	font-family: azo-sans-web, sans-serif;
	font-weight: 700;
	font-size: 2.4rem;
}

.ingredients-list {
	list-style-type: none;
	padding-left: 0;
	display: flex;

	&__item {
		margin-left: 1.5rem;

		&:first-child {
			margin-left: 0;
		}
	}
}

.hide {
	display: none;
}

