.slicknav{
    position: absolute;
    width: 100%;
    &__wrapper{
        display: flex;
        max-width: 65rem;
        margin: 15rem auto;
    }
    &__item{
        display: block;
        width: 6.2rem;
        height: 6.2rem;
        line-height: 6.2rem;
        border-radius: 100%;
        border: 2px solid white;
        position: relative;
        text-align: center;

        i{
            color: transparentize(white, .6);
            font-size: 2rem;
            position: relative;
            z-index: 3;
            margin-top: 2.1rem;
            transition: all .3s ease;
        }

        &.prev{
            i{
                margin-right: .2rem;
            }
        }
        &.next{
            margin-left: auto;
            i{
                margin-left: .2rem;
            }
        }

        &:hover{
            i{
                color: $white;
            }
        }

        .timer {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            border-radius: 50%;
            height: 100%;
            width: 100%;
            background: linear-gradient(90deg, $black 50%, $yellow 50%);
            animation-name: timer;
            animation-duration: 3s;
            animation-timing-function: steps(200, start);
            animation-iteration-count: infinite;
            &:after{
                content: "";
                position: absolute;
                width: 5.6rem;
                height: 5.6rem;
                left: .3rem;
                top: .3rem;
                border-radius: 100%;
                background: black;
            }
        }
        .mask {
            border-radius: 100% 0 0 100% / 50% 0 0 50%;
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 50%;
            animation-name: mask;
            animation-duration: 3s;
            animation-timing-function: steps(100, start);
            animation-iteration-count: infinite;
            transform-origin: 100% 50%;
        }

        
    }
}

.pause{
    animation-play-state: paused !important;
}

.product:hover{
    .mask, .timer{
        animation-play-state: paused !important;
    }
}
// .run{
//     animation-play-state: running !important;
// }

@keyframes timer {
    100% {
         transform: rotate(360deg); 
    } 
}

@keyframes mask {
    0% {
        background: $yellow;
        transform: rotate(0deg);
    } 
    49.99% {
        background: $yellow;
        transform: rotate(-180deg);
    } 
    50% {
        background: $black;
        transform: rotate(0deg);
    } 
    100% {
        background: $black;
        transform: rotate(-180deg);
    } 
}